$color: steelblue;

.cine-fan {
  color: $color;
}

.movie-poster {
  width: auto;
  height: 500px;
}

.card-img {
  width: auto;
  height: 500px;
}

.backBtn :hover {
  color: #ede13f;
}

.main-card :hover {
  text-decoration: none;
}
