.container-fluid {
  color: white;
}

.director-view {
  margin-top: 30px;
}

.director-headshot {
  float: left;
  height: 300px;
  width: auto;
  box-shadow: 4px 4px 5px 0px black;
  margin-bottom: 20px;
  margin-right: 30px;
}

.label {
  color: #ede13f;
}

a :hover {
  text-decoration: none !important;
}
