.navbar-dark .navbar-brand {
  color: white;
  padding: 0;
}

.navbar {
  background-color: #af34bd;
}

.btn {
  background-color: #af34bd;
  margin-top: 13px;
}

.btn-link {
  color: white;
}

ul {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}

body {
  background-color: #1d1d1d;
}

a {
  color: white;
}

a :hover {
  color: #ede13f !important;
}
