.navbar-dark .navbar-brand {
  color: #ede13f;
  font-weight: 800;
  font-size: 30px;
  padding: 0;
}

.navbar {
  background-color: #af34bd;
}

.btn {
  background-color: #af34bd;
  margin-top: 13px;
  font-weight: 600;
}

.btn-link {
  color: white;
}

ul {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}

body {
  background-color: #1d1d1d;
}

a {
  color: white;
}

a :hover {
  text-decoration: none !important;
}

.navbar-dark a :hover {
  color: #ede13f !important;
}

.main-card {
  margin-bottom: 50px;
  transition: 0.5s;
  &:hover {
    opacity: 0.5;
    transition: 0.7s;
  }
}

.movieCard-cardBody :hover {
  text-decoration: none;
}
