.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 50px !important;
  margin-bottom: 20px !important;
}

.search-bar {
  margin: 50px 60px 50px 70px !important;
  max-width: 1630px;
}
