.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 50px !important;
}

.card {
  margin-bottom: 20px !important;
  background-color: #121212;
  color: white;
}
