.container-fluid {
  color: white;
}

.genre-title {
  font-weight: 600;
  font-size: 250%;
  text-align: center;
  padding-top: 20px;
  color: #ede13f;
}

.backBtn :hover {
  color: #ede13f !important;
}
